<!DOCTYPE html>
<html>
<head>
  <title>Mtomady Clinic</title>
  <%= vite_stylesheet_tag 'application' %>
  <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
</head>
<body>
  <%= yield %>
</body>
</html>
